.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  /* display: grid;
<<<<<<< HEAD
    grid-template-columns: 40% 60%; */
=======
  grid-template-columns: 40% 60%; */
>>>>>>> 1f9bcab394ef087d14d4b505efb541b980cf2b29
}

.date {
  color: rgb(100 116 139/1);
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  background-color: var(--blue);
  padding: 2em;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  align-self: flex-start;
  align-items: center;
  gap: 2em;
}
