.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  flex-wrap: nowrap;
}

.container h1:first-of-type,
.container h1:nth-of-type(2) {
  font-size: clamp(40px, 8vw, 80px);
}

.container h1:first-of-type {
  color: white;
}

.container h1:nth-of-type(2) {
  color: var(--green);
}

/* Mobile */
@media (max-width: 700px) {
  .buttonWrapper {
    align-items: center;
  }
}
