.headshot {
  border-radius: 50%;
}

.grid {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.5rem;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(49%, 1fr)); */
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  padding: 0.75rem;
  color: var(--green);
  background-color: var(--blue);
  border-radius: 25px;
}

/* Mobile */
@media (max-width: 700px) {
  .grid {
    margin-bottom: 1em;
  }
  .container {
    width: 100%;
    flex-direction: column;
  }

  .imageWrapper > img {
    max-width: 300px;
    height: auto;
  }
}
